<h1 class="text-center my-4">Notícias Cadastradas</h1>

<ul class="list-group">
    {{#each noticias}}
        <li class="list-group-item my-3">
            <p>Código: {{codigo}}</p>
            <p>Título: {{titulo}}</p>
            <p>Fonte: {{fonte}} / Id Fonte: {{codigo_veiculo}}</p>
            <p>Url: <a href={{url}} target="_blank">{{url}}</a></p>
            <a class="btn btn-primary" href="/noticias/{{codigo}}" type="button">Visualizar Notícia</a>
        </li>
    {{/each}}
</ul>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {{#if ultimaPagina}}
        <li class="page-item"><a class="page-link" href="/noticias?page={{ultimaPagina}}&limit={{limit}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="/noticias?page={{ultimaPagina}}&limit={{limit}}">{{ultimaPagina}}</a></li>
    {{/if}}
        <li class="page-item"><a class="page-link" href="#">{{pagina}}</a></li>
    {{#if proximaPagina}}
        <li class="page-item"><a class="page-link" href="/noticias?page={{proximaPagina}}&limit={{limit}}">{{proximaPagina}}</a></li>
        <li class="page-item"><a class="page-link" href="/noticias?page={{proximaPagina}}&limit={{limit}}">Next</a></li>
    {{/if}}
  </ul>
</nav>